<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos cliente</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actucliente.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <div class="container-fluid" action="/acliente" method="POST">
        <div class="row">
            <div class="col">
                <form action="" name="frm" id="frm"></form>
                    <table id="tableArticulos" class="table table-striped table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>_</th>
                                <th>NOMBRE</th>
                                <th>CLAVE</th>
                                <th>ACTUALIZAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% datos.forEach(function (datos) { %>
                                <tr>
                                    <td><input type="hidden" value="<%= datos.doccli %>" name="doccli" id="doc" class="doc"></td>
                                    <td><input type="text" value="<%= datos.nomusu%>" name="nomusu" id="nomusu"
                                            class="nomusu"></td>
                                    <td><input type="text" value="<%= datos.clave %>" name="clave" id="clave"
                                            class="clave"></td>
                                    <td><input type="submit" value="Actualizar" name="btnact" id="btnact"
                                            class="Actualizar"></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>

    </div>

</body>

</html>