<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <header>
        <nav class="encabezado">
            <a href="dtscliente" class="clo">Datos del cliente</a>
            <a href="acliente" class="cli">Datos del Usuario</a>
            <a href="lineas" class="cla">Lineas de credito</a>
            <a href="creditos" class="cle">Creditos</a>
            <a href="cuentas" class="clu">Mi cuenta</a>
            <a href="./" class="clae">Cerrar Sesion</a>
        </nav>
    </header>
    <h2>Bienvenido a la vista del cliente</h2>
</body>

</html>