<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos cliente</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actuli.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <div class="container-fluid" action="/lineas" method="POST">
        <div class="row">
            <div class="col">
                <table id="tableArticulos" class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>NOMBRE</th>
                            <th>MONTO MAXIMO</th>
                            <th>PLAZO MAXIMO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datos.forEach(function (datos) { %>
                            <tr>
                                <td><input type="text" value="<%= datos.codlinea%>" name="codlinea" id="codlinea" class="codlinea">
                                </td>
                                <td><input type="text" value="<%= datos.nomlinea %>" name="nomlinea" id="nomlinea" class="nomlinea">
                                </td>
                                <td><input type="text" value="<%= datos.montomaxicredito %>" name="montomaxicredito" id="montomaxicredito" class="montomaxicredito">
                                </td>
                                <td><input type="text" value="<%= datos.plazomaxcred%>" name="plazomaxcred" id="plazomaxcred" class="plazomaxcred"</td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</body>

</html>